<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>Factory-One</title>
  </head>
  <body>
    <header>
      <div class="image-slider">
        <img src="/assets/imageHeader/image-1.jpg" alt="Image 1" />
        <img src="/assets/imageHeader/image-2.jpg" alt="Image 2" />
        <img src="/assets/imageHeader/image-3.jpg" alt="Image 3" />
        <img src="/assets/imageHeader/image-4.jpg" alt="Image 4" />
        <img src="/assets/imageHeader/image-5.jpg" alt="Image 5" />
      </div>
    </header>
    <div class="boxNav">
      <nav class="sticky-nav">
        <img class="logo" src="/assets/starsOne.jpg" />
      </nav>

      <nav class="sticky-nav">
        <ul>
          <li><a href="/templates/main.html">Дома</a></li>
          <li><a href="/templates/services.html">Услуги</a></li>
          <li><a href="#">Галерија</a></li>
        </ul>
      </nav>
    </div>
    <div class="columnMain">
      <div class="contentMain">
        <div class="content">
          <img src="/assets/imageGallery/imageGallery.jpg" alt="Production" />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGalleryTwo.jpg"
            alt="Production"
          />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGalleryThree.jpg"
            alt="Production"
          />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGalleryFour.jpg"
            alt="Production"
          />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGalleryFive.jpg"
            alt="Production"
          />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGallerySix.jpg"
            alt="Production"
          />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGallerySeven.jpg"
            alt="Production"
          />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGalleryEight.jpg"
            alt="Production"
          />
        </div>
        <div class="content">
          <img
            src="/assets/imageGallery/imageGalleryNine.jpg"
            alt="Production"
          />
        </div>
      </div>
    </div>
    <div class="footerContainer">
      <footer>
        <p>2023 &copy; Made by Nikola Malcheski</p>
      </footer>
    </div>

    <script src="/templates/script.js"></script>
  </body>
</html>
