<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>Factory-One</title>
  </head>
  <body>
    <header>
      <div class="image-slider">
        <img src="/assets/imageHeader/image-1.jpg" alt="Image 1" />
        <img src="/assets/imageHeader/image-2.jpg" alt="Image 2" />
        <img src="/assets/imageHeader/image-3.jpg" alt="Image 3" />
        <img src="/assets/imageHeader/image-4.jpg" alt="Image 4" />
        <img src="/assets/imageHeader/image-5.jpg" alt="Image 5" />
      </div>
    </header>
    <div class="boxNav">
      <nav class="sticky-nav">
        <img class="logo" src="/assets/starsOne.jpg" />
      </nav>

      <nav class="sticky-nav">
        <ul>
          <li><a href="#">Дома</a></li>
          <li><a href="/templates/services.html">Услуги</a></li>
          <li><a href="/templates/gallery.html">Галерија</a></li>
        </ul>
      </nav>
    </div>
    <div class="columnMain">
      <div class="contentMain">
        <h1>За нас</h1>
        <p>
          &emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fuga
          consequatur ut odit tenetur necessitatibus, modi delectus iusto
          accusamus velit recusandae placeat alias dolore quam labore. Modi
          architecto unde atque ex eaque vel officiis aut molestiae
          exercitationem incidunt sapiente similique a ab optio at eveniet quod
          tempore fuga voluptas, assumenda sit hic!
          <br /><br />
          &emsp;Incidunt cum earum quis eius nobis eum ea, quos molestiae harum
          autem ullam consectetur! Sunt minima, omnis cupiditate sequi
          voluptatibus debitis et consectetur quia nesciunt magni, labore animi
          excepturi iusto est rem. Id, eveniet sint similique porro quibusdam,
          totam tenetur laborum perferendis eum natus tempora maiores ratione
          voluptate.
        </p>
        <br /><br />
        <h2>Контакт</h2>
        <p>ул. Пајак бр. Зајак</p>
        <p>број: 555-333</p>
        <p>мејл мејл@мејл.цом</p>
      </div>
    </div>
    <div class="footerContainer">
      <footer>
        <p>2023 &copy; Made by Nikola Malcheski</p>
      </footer>
    </div>

    <script src="/templates/script.js"></script>
  </body>
</html>
